<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::sales">
                    <resource id="AJH_SalesPerson::salesorder" title="Sales Order - Sales Person" sortOrder="10" >
                        <resource id="AJH_SalesPerson:salesorder" title="Manage Listing" sortOrder="40">                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>